<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order a Pet</title>
</head>
<body>

<h1> Order A Pet Here!</h1>

<form action="#" method="POST">
    <label for="pet">What Breed Of Pet Would You Like To Order? </label>
    <input type="text" placeholder="Breed..." name="pet" id="pet">
   <br>
    <label for="color">Color of the pet? </label>
    <select id="color" name="color">
        <option value="Brown">Brown</option>
        <option value="Khakhi">Khakhi</option>
        <option value="Black">Black</option>
        <option value="White">White</option>
    </select>
    <input type="submit" value="Submit" >
</form>


</body>
</html>